
<div class="sve">
 <div class="tekst">
    <h2><span>Melbourne</span>, Australia</h2>
    <p>42 Beach St, Frankston VIC 3199, Australia</p>
 </div>
 <div class="tekst">
    <h2><span>Info</span>rmation</h2>
    <p><img src="/assets/images/phone.png" alt="phone" width="30px">+61-123-4567</p>
    <p><img src="/assets/images/gmail.png" alt="gmail" width="30px">pumpup@gymail.com</p>
 </div>
 <div class="tekst">
    <h2><span>Follow</span> Us On</h2>
    <p><img src="/assets/images/facebook.png" alt="facebook" width="30px">Facebook</p>
    <p><img src="/assets/images/instagram.png" alt="instagram" width="30px"> Instagram</p>
    <p><img src="/assets/images/twitter.png" alt="twitter" width="30px">Twitter</p>
 </div>
</div>
<div class="iframe">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d783202.7539002642!2d144.85744994243672!3d-37.8829207385525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad674da6bfd3de9%3A0xcd2e44b9f5858ae3!2sPumpup%20Fitness%20Frankston!5e0!3m2!1sen!2srs!4v1680888924761!5m2!1sen!2srs" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<div class="top">
    <a href="#home" class="top">
    <button><b>Back to top</b>⬆</button>
    </a>
</div>


