
<div class="prvi">
    <h3><b>Pump<span>UP</span></b></h3>
    <h6><small>ULTIMATE GYM CENTER</small></h6>
    <p>Take your health and body to the next level with our comperhensive program designed to help you reach your fitness goals.</p>
    <p>Privacy Policy | &copy; 2023 PumpUP</p>
</div>
<div class="drugi">
  <h2><b>Our Classes</b></h2>
    <p>Basic</p>
    <p>Basic <span class="paket">S</span></p>
    <p>Basic <span class="paket">M</span></p>
    <p>Classic</p>
    <p>Classic <span class="paket">S</span></p>
    <p>Classic <span class="paket">M</span></p>
    <p>Elite</p>
    <p>Elite <span class="paket">S</span></p>
    <p>Elite <span class="paket">M</span></p>
</div>
<div class="treci">
    <h2><b>Working Hours</b></h2>
    <p><b>Monday - Friday:</b></p>
    <p>7:00am - 23:00pm</p>
    <p><b>Saturday:</b></p>
    <p>7:00am - 21:00pm</p>
    <p><b>Sunday - Closed</b></p>
</div>
