#paketi {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    position: absolute;
    top: 100vh;
}

#membership {
    position: absolute;
    top: 220vh;
    left: 25%;
    right: 25%;
    background: linear-gradient(rgb(107, 103, 103), rgba(199, 196, 196, 0.228));
    padding: 5%;
    padding-right: 30%;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    color: black;
    display: flex;
}

#schedule {
    background: linear-gradient( #a09e96 , #f2f2f2 , #dbdbdba7,  #eaeaeaac );
    width: 90%;
    position: absolute;
    top: 300vh;
    display: flex;
    border-radius: 60px;
    justify-content: center;
    margin-right: 5%;
    margin-left: 5%;
}


