<div>
    <div class="nav">
        <div class="prvi">
            <img src="/assets/images/icon.png" class="icon">
            <h3><b>Pump<span>UP</span></b></h3>
            <h6>ULTIMATE GYM CENTER</h6>
        </div>
        <div class="drugi">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Packets</a></li>
                <li><a href="">Buy Membership</a></li>
                <li><a href="">Gallery</a></li>
                <li><a href="">Schedule</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
        <div class="treci">
            <img src="/assets/images/plus.png" class="plus">
            <h5>JOIN US NOW!</h5>
        </div>
    </div>
    <img src="/assets/images/cover.jpg" class="coverImg">
</div>
