<div id="home">
    <div class="nav">
        <div class="prvi">
            <img src="/assets/images/icon.png" class="icon">
            <h3><b>Pump<span>UP</span></b></h3>
            <h6>ULTIMATE GYM CENTER</h6>
        </div>
        <div class="drugi">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#paketi">Packets</a></li>
                <li><a href="#membership">Buy Membership</a></li>
                <li><a href="#schedule">Schedule</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
        <div class="treci">
            <img src="/assets/images/plus.png" class="plus">
            <h5>JOIN US NOW!</h5>
        </div>
    </div>
    <div class="tekst">
        <h4>FIND YOUR ENERGY</h4>
        <h1><b>MAKE YOUR BODY</b></h1>
        <h1>FIT & PERFECT</h1>
    </div>
    <div class="top">
        <a href="#home" class="top">
        <button>⬆</button>
        </a>
    </div>
</div>

